* {
	margin: 0;
	padding: 0;

}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #3b3a3a;
    font-weight: 300;
    margin-top: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background:whitesmoke;
    transition: 900ms;
    opacity: 0;
}

.main-header {
    height: 6em;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0 50px;
    box-shadow: inset 0px 45px 67px -78px black;

    display: -webkit-box;
    -webkit-animation: fadeIn .8s cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeIn .8s cubic-bezier(0.77, 0, 0.175, 1);
}

.main-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.main-header li {
    text-decoration: none;
    margin: 45px 14px;
}



.main-header a {
    text-decoration: none;
    color: rgb(47, 47, 47);
    -webkit-transform-origin: center;
    transform-origin: center;
}

#text-mainnome {
    
}


.text-nav-button {
    font-family: sans-serif;
    font-weight: 500;
    transition: 600ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}



.wrapper-header-items {
    width: 24.1vw;
    height: 36.6px;
    border-radius: 38px;

    background: linear-gradient(15deg, #2fb17b, #4391da, #e75c7f);
    position: absolute;
    z-index: -1;
    background-size: 580% 580%;
    -webkit-animation: GradTransition 10s ease infinite;
    -moz-animation: GradTransition 10s ease infinite;
    animation: GradTransition 10s ease infinite;

    box-shadow: 0 1px 40px -10px;
}


.js body.render {
    opacity: 1;
}

.servico-main {    
    padding: 60px 22%;
    position: relative;
}

.wrapper {
    margin: 20px 40px;
    padding: 10px;	
}

.title {
	font-size: 3em;
    font-family: "Roboto", sans-serif;
}

.title h1 {
    font-weight: 96;
    margin-bottom: 50px;
}

.title h2 {
	font-weight: 600;
}



.dec-txt {
    border: 0;
    position: relative;
 
	width: 98%;
	margin: 20px 0;
    padding: 14px;

    box-shadow: 0 1px 18px -5px;
    background-image: linear-gradient(10deg, #b92267, #ffc570);
    color: #00000078;
	border-radius: 14px;
    box-shadow: 0 0 20px -10px black;
    transition: 700ms all;
    margin: 50px 0px;
}

.dec-txt::after{
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 0;
  height: 94%;
  width: 100%;
  opacity: 0.8;
  border-radius: 50px;
  
  /* Declaring our shadow color inherit from the parent (button) */
  background: inherit;
  
 
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  
  /* Transition for the magic */
  -webkit-transition: all 1s;
  transition: all 1;
}


.content-servico{
    position: relative;
    margin: 1em 10px;
    font-family: sans-serif;
    font-size: 30px;
    width: 100%;

}

.bottom-content {
    font-family: sans-serif;
    width: 100%;
    position: fixed; 
    bottom: 0;
    height: 60px;
    background-color: #0f0f0f;
    margin: 0 0em;
    transition: 500ms;
    box-shadow: 0 -3px 25px -5px black;
}

.bottom-content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.bottom-content h2 {
    font-size: 112%;
    font-weight: 100;
    margin-left: 20px;
    color: rgb(94, 94, 94);
}

.bottom-content div {
    margin: 18px 20px;
}

aside {
    position: fixed;
    top: 280px;
    left: 100px;

    flex-basis: 25%;
    max-width: 25%;
    z-index: 1;
}

.row { 
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -1.25rem;
    margin-left: -1.25rem;
}

.row ul {
    list-style: none;
}

.row ul li h1 {
    color:rgb(162, 162, 162);
    font-size: 26px;
}

.ul-tp-hd h2 {
    color: rgb(104, 104, 104);
    font-size: 24px;
    margin: 15px 5px;
    transition: 800ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

p {
    font-size: 24px;
}

.ul-tp-hd h2:hover {
    color: rgb(0, 0, 0);
    transform: translateX(8px);
    cursor: pointer;
}

@media (min-width: 1000px){
    .hide-md {
        display: none;
    }
}

@media (min-width: 768px){
    .mb-sm-60 {
        margin-bottom: 60px;
    }
    .mb-xs-40 {
        margin-bottom: 40px;
    }
    .col-xs-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.project-header {
    position: relative;
}

h6, .h6 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 35.2px;
    line-height: 3.52rem;
    margin-bottom: 2rem;
}

h4, .h4 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 38.4px;
    line-height: 3.84rem;
    margin-bottom: 2.4rem;
}


.project-header__title {
    margin-bottom: 0;
}


@media (min-width: 1000px){
    .project-header__icon {
        opacity: 0;
    }
}

.project-header__icon svg {
    height: 1.5rem;
}

.project-header__icon {
    position: absolute;
    top: 1.25rem;
    right: 0;
    transition: all 100ms linear;
    opacity: 1;
    cursor: pointer;
}

.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

@media (min-width: 1000px){
    .mb-md-60 {
        margin-bottom: 60px;
    }
}

.mb-xs-40 {
    margin-bottom: 40px;
}
.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

@media (min-width: 768px){
    .mb-sm-80 {
        margin-bottom: 80px;
    }
}

.mb-xs-40 {
    margin-bottom: 40px;
}

@media (min-width: 1000px){
    .col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}