.scene {
	background: #282886;
}

.scene path:first-child {
	fill: #221f7e;
}

.scene path:nth-child(2) {
	fill: #06326d;
}

.scene path:nth-child(3) {
	fill: #09626f;
}

.scene path:nth-child(4) {
	fill: #1a8b88;
}

.scene path:nth-child(5) {
	fill: #2648e6;
}

.scene path:nth-child(6) {
	fill: #2c31b0;
}

.scene path:nth-child(7) {
	fill: #262689;
}
