
.hcard {
    transition: 880ms;
    opacity: .98;
    border-radius: 20px;
}

.hcard:hover {
    box-shadow: 0 -1px 100px;
    transform: scale( .98, .98);
}

.hcard2 { 
    transition: 480ms;
    
}

#servicos-beffore {
    position: absolute;
    padding: 3px;
    margin: -5em 0em;
    width: 59.8em;
    border-radius: 25px;
    color: #000000b0;

}

#servicos-container {
    width: 105em;
    position: absolute;
    margin-bottom: 2em;
    border-bottom: 2px solid black;
    margin: 114em 0em;
    height: 30em;
    padding: 13em 0em;
}

.texts-head-servicos {
    padding: 22px;
    margin: 5px;
    width: 47em;
    border-radius: 25px;
    color: #000000b0;
    
    border: 2.3px solid black;

}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.row-serv {
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 20px;
}

.card-serv{
    margin-top: 19px;
}

.card-serv-img {
    width: 35em;
    border-radius: 15px;
    height: 478px;
}
.text-bottom-serv {
    text-align: center;
    margin: -7.7em 1em;
    text-shadow: 0 1px 20px black;
    font-size: 2em;
    color: white;
    position: absolute;
}


.card-serv2{
    margin: 1.2em 16em;

}

.card-serv-img2 {
    width: 15em;
    border-radius: 15px;
}

/** card-devAndroid */
.card-serv3 {
    margin: 12em -4em;
}

.card-serv-img3 {
    width: 15em;
    height: 19em;
    border-radius: 15px;
}

.card-shadow-scale {
    box-shadow: 0 1px 35px -5px;
}

.card-shadow-scale:hover {
    box-shadow: 0 1px 45px -5px;
    transform: scale(1.05, 1.05);
}

#contents {
    margin: 7em 100em;
    width: 99em;
    height: 48em;
    transition: 980ms;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}