
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin:0;
    padding: 0;
 }


header {
    height: 6em;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0 44px;
    box-shadow: inset 0px 45px 67px -78px black;
}

a {
    color: white;
}


img {
    object-fit: cover;
}

h2, h1 {
    font-family: "Roboto", sans-serif;
}

body {
    transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(0, 0, 0);
    opacity: 0;
}

.js body.render {
    opacity: 1;
}


html {
    scroll-behavior: smooth;
    /* overflow-y: -webkit-paged-y; */
    overflow-x: hidden;
    
    
    width: 100%;
}

#li-bottom {
    position: absolute;
    margin: -2em 28em;
    text-decoration: none;
    color: #43abff;
    font-size: 2em;
}

#text-rigth-cpl {
    right: 0;
    font-weight: 1000;
    position: absolute;
    margin: 36px 59px;
    border-radius: 9px;
    color: #52b270;
    border: #567e2b 2px solid;
    padding: 10px;
    font-weight: 500;
    background-color: #00000087;
    transition: 415ms;
    font-size: 1.2em;
    /* text-shadow: 0px 1px 13px #395278; */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 40px -10px;
}

#text-rigth-cpl:hover {
    background-color: #1768c3;   
    color: black;
    text-shadow: none;
    border-color: #1d5595;
    transform: translateY(-10px);
    box-shadow: 0 4px 30px -10px;
}
.cards {
    position: absolute;
    margin: 8em -3.095em;
    padding-top: 2em;
    padding-bottom: 150px;
   
}
    

#text-mainnome {
    margin: 40px 10px;
    font-family: sans-serif;
    color: white;

    font-weight: 500;
    font-size: 2em;
    transition: 900ms;
    margin-right:  2%;
}

#text-mainnome:hover {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.text-rigth-button {
    position: absolute;
    margin: 45px 225px;
    font-family: sans-serif;
    font-weight: 500;
    transition: 600ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    
}

.text-rigth-button-servicos {
    position: absolute;
    margin: 45px 307px;
    font-family: sans-serif;
    font-weight: 500;
    transition: 700ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.cards {
    position: relative;

}

.text-rigth-button:hover {
    color: #8585856e;
    transform: translateY(-10px);
}

.text-rigth-button-servicos:hover {
    color: #8080806e;
    transform: translateY(-10px);
}

#text-main {
    font-size: 8em;
    border: none;
    color: white;
    margin: 3em 0px;
    font-weight: 600;

    margin: -493px 0px;
    z-index: 10;

    position: relative;
      
}

.text-down {
    position:relative;
}

.text-main-center {
    position: absolute;
    margin: 23px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    transition: 300ms;
 }

.img-card {
    width: 475px;
    border-radius: 32px;
    margin: 101px 5px;
    box-shadow: 0px 2px 40px 0px;
    
}

#text-card {
    font-weight: 1000;
    position: relative;
    z-index: 1;
    top: 0;
    margin: -7.0em 75px;
    font-family: sans-serif;
    color: white;
    font-size: 4.3em;
    text-shadow: 0 1px 33px black;
}

#text-card1 {
    font-weight: 1000;
    position: relative;
    z-index: 1;
    top: 0;
    margin: -5.6em .5em;
    font-family: sans-serif;
    color: white;
    font-size: 5.3em;
    text-shadow: 0 1px 33px black;
}

.wrapper-header {
    display: flex;
    flex-direction: row;
}

.txt-header-button {
    transition: 230ms;
    border-radius: 2px;
}

.txt-header-button:hover {
    border-bottom: 3px solid rgb(39, 221, 160);
    padding-bottom: 1.2px;
}
.transform {
    transform: scale(1.1, 1.1);
}

.btn-contato-header{
    z-index: 1;
    position: fixed;
    border: none;
    background: #2e3b4d;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 800;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000047;
    transition: 257ms;
    margin: 28px 45px;
}

.btn-contato-header:hover {
    transform: translateY(-5px);
    background: #1f4c95;
    box-shadow: 0px 2px 10px #063a7fc7;
}
.bottom-montain {
    margin: -8px -8.8px;
    padding: 10px;
    position: absolute;
}

.top-montain {
    position: absolute;
}

#img-mountain-bt{
    position: absolute;
    width: 100%;
}


#img-mountain-tp {
    width: 100%;
    margin: -51% 0px;
}

.wrapper-all-elements {
        margin: 52em 6em;
}

#text-card-2 {
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 4em;
    position: absolute;
    z-index: 1;
    margin: 360px 1.5em;
    text-shadow: 0 1px 2em black;
    color: white;
}

.content-crd {
    background: linear-gradient(15deg, rgba(189, 43, 104, 0.548), rgb(37, 121, 218))
}


.content p {
    font-size: 1.5em;
    font-family: sans-serif;
    color: #bebebe;
    margin: 37px 0;
}

.img-card-2 {
    width: 46em;
    height: 44.5em;
    border-radius: 32px;
    
    position: relative;
    box-shadow: 0px 2px 40px 0px;
}

/** Conhecimentos container elements **/


.container-cnh {
  
    position: absolute;
    width: 59%;
}


.wrapper-cnh{

}

.cards-cnh{
    width: 100px;
}

.wrapper-cnh{
    display: flex;
}

.card-cnh {
    background: #000000bf;
    border-radius: 16px;
    margin: 10px
}

#img-card-cnh {
    width: 164px;
}

.img-card3 {
    width: 475px;
    border-radius: 32px;
    margin: 100px 30px;
    box-shadow: 0px 2px 40px 0px;
    height: 44.7em;
}



@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

  .opc {
    opacity: 0.5;
    transition: 370ms;

  }

  .opc:hover{ 
    opacity: 1;
    transform: scale(1.05, 1.05);
  }

.text-card {
    transition: 700ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }




  .row-cards {
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    margin: 17em 0;
    width: 370px;
  }

.card-prj {
    background: white;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    margin: 1em 30px;
    box-shadow: 0 1px 50px;
}

.crd-projetos {
    opacity: 0;  
    transition: 350ms;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

.crd-projetos-f {
    opacity: 1;
    transform: scale(.8, .8);
    transition: 1000ms;
    transition-duration: .9s;
}

#icGithub {
    width: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin: 3em 5.5em;
}
/**.text-center-animation {
    animation: scale-text 34s infinite;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}*/


@media screen and (max-width: 300px) {

    #li-bottom {
        font-size: 1.5em;
        margin: -5em 27em;
    }

    #text-mainnome {
        margin: 35px 11px;
    }
    header h2 {
        font-size: 20px;
    }
    
    .text-center h1 {
        font-size: 6em;
        margin: 3em 358px;
    }

    .img-card {
        width: 344px;
    }

    #text-card1 {
        font-size: 4.3em;
    }
    
    #text-card {
        font-size: 3.3em;
    }

    .img-card-2 {
        width: 29em;
        height: 32.5em;
    }

    .img-card3 {
        width: 344px;
        height: 32.7em;
    }

    .beffore-sobre {
        position: relative;
    }
    
    .bottom-content h2 {
        font-size: 47%;
     }

    .text-head h1 {
        font-size: 4em;
    }

    .content {
        font-size: 14px;
    }
 }



