
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
<<<<<<< HEAD

    margin:0;
    padding: 0;
=======
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
 }


header {
    height: 6em;
    margin: 0 84px;
    position: fixed;
    width: 87%;
    z-index: 1;
}

a {
    color: white;
}


img {
    object-fit: cover;
}
<<<<<<< HEAD

h2, h1 {
    font-family: "Roboto", sans-serif;
=======
h2, h1 {
    transform-origin: top center;
    font-family: sans-serif;
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
}

body {
    transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(0, 0, 0);

    opacity: 0;
  
}

.js body.render {
    opacity: 1;
}

<<<<<<< HEAD

html {
    /**scroll-behavior: smooth;
    overflow-y: -webkit-paged-x;*/
    overflow-x: hidden;
}

=======
* { 
    margin:0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: -webkit-paged-x;
    overflow-x: hidden;
}

#arrow {
    transform: rotate(180);
}

>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
#li-bottom {
    position: absolute;
    margin: -1em 25em;
    text-decoration: none;
    color: #43abff;
    font-size: 2em;
}

#text-rigth-cpl {
    right: 0;
    font-weight: 1000;
    position: absolute;
    margin: 34px 9px;
    border-radius: 9px;
    color: #52b270;
    border: #567e2b 2px solid;
    padding: 10px;
    font-weight: 500;
    background-color: #00000087;
    transition: 415ms;
    font-size: 1.2em;
    /* text-shadow: 0px 1px 13px #395278; */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 40px -10px;

}

#text-rigth-cpl:hover {
    background-color: #1768c3;   
    color: black;
    text-shadow: none;
    border-color: #1d5595;
    transform: translateY(-10px);
    box-shadow: 0 4px 30px -10px;
}
.cards {
    position: absolute;
<<<<<<< HEAD
    margin: 8em -3.095em;
=======
    margin: 9em -1.095em;
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
    padding-top: 2em;
    border-bottom: 1px solid white;
}
    
.text-center h1{
    font-size: 10em;
    border: none;
    color: white;
<<<<<<< HEAD
    margin: 3em 358px;
    font-weight: 900;
=======
    padding: 336px 2em;
    font-weight: 700;
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
}

.text-center {
    transition: all 700ms;
<<<<<<< HEAD
    position: absolute;
    z-index: 1;
}

=======
}



>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
#text-mainnome {
    margin: 40px 10px;
    font-family: sans-serif;
    color: white;

    font-weight: 500;
    font-size: 2em;
    text-shadow: 0 1px 100px black;
    
}

#text-mainnome:hover {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.text-rigth-button {
    position: absolute;
    margin: 45px 225px;
    font-family: sans-serif;
    font-weight: 500;
    transition: 600ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    
}

.text-rigth-button-servicos {
    position: absolute;
    margin: 45px 307px;
    font-family: sans-serif;
    font-weight: 500;
    transition: 700ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

<<<<<<< HEAD
.cards {
    position: relative;

}
=======
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0

.text-rigth-button:hover {
    color: #8585856e;
    transform: translateY(-10px);
}

.text-rigth-button-servicos:hover {
    color: #8080806e;
    transform: translateY(-10px);
}

.text-main-center {
    position: absolute;
    margin: 23px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    transition: 300ms;
 }

.img-card {
    width: 475px;
    border-radius: 32px;
    margin: 101px 5px;
    box-shadow: 0px 2px 40px 0px;
    
}

#text-card {
    font-weight: 1000;
    position: relative;
    z-index: 1;
    top: 0;
<<<<<<< HEAD
    margin: -7.0em 75px;
=======
    margin: -6.96em 85px;
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
    font-family: sans-serif;
    color: white;
    font-size: 4.3em;
    text-shadow: 0 1px 33px black;
}

#text-card1 {
    font-weight: 1000;
    position: relative;
    z-index: 1;
    top: 0;
    margin: -5.6em .5em;
    font-family: sans-serif;
    color: white;
    font-size: 5.3em;
    text-shadow: 0 1px 33px black;
}

.wrapper-header {
    display: flex;
    flex-direction: row;
}

.transform {
    transform: scale(1.1, 1.1);
}

.btn-contato-header{
    z-index: 1;
    position: fixed;
    border: none;
    background: #2e3b4d;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 800;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000047;
    transition: 257ms;
    margin: 28px 45px;
}

.btn-contato-header:hover {
    transform: translateY(-5px);
    background: #1f4c95;
    box-shadow: 0px 2px 10px #063a7fc7;
}
.bottom-montain {
    margin: -8px -8.8px;
    padding: 10px;
    position: absolute;
}

.top-montain {
    position: absolute;
}

#img-mountain-bt{
    position: absolute;
    width: 100%;
}


#img-mountain-tp {
    width: 100%;
    margin: -51% 0px;
}

.wrapper-all-elements {
<<<<<<< HEAD
=======
    position: absolute;
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
    margin: 20px 6em;
}

#text-card-2 {
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 4em;
    position: absolute;
    z-index: 1;
    margin: 361px 0.8em;
    text-shadow: 0 1px 2em black;
    color: white;
}
<<<<<<< HEAD
.content  {
    width: 60%;
}
=======
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
.content2 {
    margin: 101px 22px;
}

.content p {
    font-size: 1.5em;
    font-family: sans-serif;
    color: white;
    margin: 37px 0;
}

.img-card-2 {
    width: 40em;
    height: 44.5em;
    border-radius: 32px;
    margin-left: 15px;
    position: relative;
    box-shadow: 0px 2px 40px 0px;
}

/** Conhecimentos container elements **/


.container-cnh {
    margin: -33em 36px;
    position: absolute;
    width: 59%;
}


.wrapper-cnh{

}

.cards-cnh{
    width: 100px;
}

.wrapper-cnh{
    display: flex;
}

.card-cnh {
    background: #000000bf;
    border-radius: 16px;
    margin: 10px
}

#img-card-cnh {
    width: 164px;
}

.img-card3 {
    width: 475px;
    border-radius: 32px;
    margin: 100px 30px;
    box-shadow: 0px 2px 40px 0px;
    height: 44.7em;
}



@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

  .opc {
    opacity: 0.5;
    transition: 370ms;

  }

  .opc:hover{ 
    opacity: 1;
    transform: scale(1.05, 1.05);
  }

.text-card {
    transition: 700ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }


  .row-cards {
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    margin: 17em 0;
    width: 370px;
  }

.card-prj {
    background: white;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    margin: 1em 30px;
    box-shadow: 0 1px 50px;
}

.crd-projetos {
    opacity: 0;  
    transition: 350ms;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

.crd-projetos-f {
    opacity: 1;
    transform: scale(.8, .8);
    transition: 1000ms;
    transition-duration: .9s;
}

#icGithub {
    width: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin: 3em 5.5em;
}
/**.text-center-animation {
    animation: scale-text 34s infinite;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}*/


@media screen and (max-width: 1890px) {

    #li-bottom {
        font-size: 1.5em;
<<<<<<< HEAD
        margin: -5em 27em;
=======
        margin: -1em 24em;
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
    }

    #text-mainnome {
        margin: 35px 11px;
    }
    header h2 {
        font-size: 20px;
    }
    
    .text-center h1 {
        font-size: 6em;
<<<<<<< HEAD
        margin: 3em 358px;
=======
        border: none;
        color: white;
        padding: 235px 2em;
        font-weight: 700;
        margin: 10px 77px;
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
    }

    .img-card {
        width: 344px;
    }

    #text-card1 {
        font-size: 4.3em;
    }
    
    #text-card {
        font-size: 3.3em;
<<<<<<< HEAD
    }

    #text-card-2 {
        margin: 241px 38px;
        font-size: 53px;
=======
        margin: -7.1em;
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
    }

    .img-card-2 {
        width: 29em;
        height: 32.5em;
    }

    .img-card3 {
        width: 344px;
        height: 32.7em;
    }

<<<<<<< HEAD
    .beffore-sobre {
        position: relative;
    }
    

    .text-head h1 {
        font-size: 4em;
    }

    .content {
        font-size: 14px;
    }
=======
    .cards {
        position: absolute;
        margin: 12em -3em;
    }
    
>>>>>>> 3ee331f021c84c80d11e701992141944516c5fd0
 }
