.rodape {
  /* padding-top: 8em; */
  position: absolute;
  width: 100%;
  background: black;
  height: 100%;
  box-shadow: 0 -5px 30px -10px;
}

.container-feed {
    margin: 10px;
    color: white;
}

.feed-content {
    text-align: center;
}

.wrapper-feed {
    margin-top: 25em;
}

.feed-txt {
      font-size: 2.7em;
    transition: 500ms;

    color: #c1c1c1;
    margin: 10px; 
 
}

.in-feed {
    margin: 23px 0;
    border: 2px solid #505050;
    padding: 10px;
    font-size: 1em;
    background-color: #1d1d1d;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 2em;
    color:white;
    font-weight: 100;
    width: 40%;
    outline-style: none;
    transition: 800ms cubic-bezier(0.77, 0, 0.175, 1);
} 


.in-feed:focus {
    border: 2px solid white;
    animation: inShadowAnimation  4s infinite;
    transform: scale(1.1, 1.1);
}

@keyframes inShadowAnimation {
    0% {
        box-shadow: -8px 0 70px -5px rgba(255, 255, 255, 0.096);
    }
    50% {
        box-shadow: 0 0 70px -5px rgb(124, 0, 173);
    }
    100% {
        box-shadow: none; 
    }
}

.bottom-content {
    width: 101%;
    position: relative; 
    bottom: 0;
    height: 54px;
    background-color: #0f0f0f;
    margin: 0 0em;
    transition: 500ms;
    box-shadow: 0 -3px 25px -5px black;
}

.bottom-content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.bottom-content h2 {
    font-size: 140%;
    font-weight: 600;
    margin-left: 20px;
    color: rgb(94, 94, 94);
}

.bottom-content div {
    margin: 18px 20px;
}

.feedbacks-coments {
    width: 102%;
    height: 78%;
    position: absolute;
    overflow-y: scroll;
    display: none;
    margin: -17em 0em;
}

.feeds-wrapper {
    margin: 0em 17%;
    position: relative;
}

.row-coments {
    display: flex;
    flex-direction: column-reverse;
}

.card-coments {
    padding: 22px 23px;
    border-radius: 15px;
    background: #bd166f;
    margin-bottom: 15px;
}


.card-coments h1 {
    font-size: 29px;
}

.card-coments h2 {
    text-align: left;
    font-weight: 100;
    font-size: 20px;
    color: #a7a7a7;
    margin: -9px 0;
}

/* animacoes */
@-webkit-keyframes zoomOutRight {
    40% {
      opacity: 1;
      -webkit-transform: scale3d(0.575, 0.575, 0.575) translate3d(-42px, 0, 0);
      transform: scale3d(0.575, 0.575, 0.575) translate3d(-42px, 0, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: scale(0.5) translate3d(2000px, 0, 0);
      transform: scale(0.5) translate3d(2000px, 0, 0);
      -webkit-transform-origin: right center;
      transform-origin: right center;
    }
  }
  
  @keyframes zoomOutRight {
    40% {
      opacity: 1;
      -webkit-transform: scale3d(0.575, 0.575, 0.575) translate3d(-42px, 0, 0);
      transform: scale3d(0.575, 0.575, 0.575) translate3d(-42px, 0, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: scale(0.5) translate3d(2000px, 0, 0);
      transform: scale(0.5) translate3d(2000px, 0, 0);
      -webkit-transform-origin: right center;
      transform-origin: right center;
    }
  }

  @keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0.15;
    }
  }

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  

  
@-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes headShake {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    6.5% {
      -webkit-transform: translateX(-6px) rotateY(-9deg);
      transform: translateX(-6px) rotateY(-9deg);
    }
  
    18.5% {
      -webkit-transform: translateX(5px) rotateY(7deg);
      transform: translateX(5px) rotateY(7deg);
    }
  
    31.5% {
      -webkit-transform: translateX(-3px) rotateY(-5deg);
      transform: translateX(-3px) rotateY(-5deg);
    }
  
    43.5% {
      -webkit-transform: translateX(2px) rotateY(3deg);
      transform: translateX(2px) rotateY(3deg);
    }
  
    50% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @-webkit-keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  
  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }