#Sobre {
    position: relative;
    margin: 5em 3em;
    padding: 1 0em 31px;
    max-width: 100%;
    display: flex;
    flex-direction: row;

}

.container-sobre {
    display: block;
}

.content {
    width: 50%;
}


.texts-head {
    padding: 15px;
    margin: 5px;
    max-width: 100%;
    border-radius: 25px;
    color: #000000b0;

    background: linear-gradient(30deg, #41824e, #51789e, #1565c0, #ff3d87, #e77a8c);
    background-size: 580% 580%;
    -webkit-animation: GradTransition 30s ease infinite;
    -moz-animation: GradTransition 30s ease infinite;
    animation: GradTransition 30s ease infinite;
    box-shadow: 0 1px 50px;
}


@-webkit-keyframes GradTransition {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes GradTransition {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes GradTransition {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.beffore-sobre {
    padding: 1px;
    margin: 0;
    max-width: 100%;
    border-radius: 28px;
    color: #000000b0;
    box-shadow: 0 1px 50px;
    background: linear-gradient(30deg, #41824e7a, #51789e78, #1565c0, #ff3d87c7, #e77a8ce3);
    background-size: 600% 600%;
    -webkit-animation: GradTransition 30s ease infinite;
    -moz-animation: GradTransition 30s ease infinite;
    animation: GradTransition 30s ease infinite;
    transition: 5000ms;
}

@keyframes myBounce {

    0% {

        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.03, 1.03);
    }

    100% {

        transform: scale(1, 1);
    }
}

.img-profile {
    /* margin: 3px 80px; */
    top: 213px;
    right: 32px;
    width: 18em;
    border-radius: 100%;
    position: absolute;
    /* right: 0; */
    box-shadow: 0 2px 30px -10px;
    animation: shake 13.5s infinite cubic-bezier(0.77, 0, 0.175, 1);
    transition: 400ms;
}

.img-profile:hover {
    animation: none;
    filter: brightness(30%);
}

.mt-ic-arrow {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.ic-pos {
    color: white;
    font-size: 3vw;
    position: absolute;
    z-index: 1;
    opacity: 1;
    animation: shake infinite 13s cubic-bezier(0.77, 0, 0.175, 1);
    top: 67%;
    right: -38px;
}

.ic-arrow-opc {
    opacity: 1;
}

#text-img-sobre {
    text-align: center;
    /* margin: 17.3em 2.8em; */
    position: absolute;
    font-size: 1.7vw;
    color: #131313;
    transition: 800ms;
    font-weight: 100;
    padding: 9px 1em;
    /* border: 1px solid; */
    top: 1.5em;
    right: 0.8em;
    z-index: 1;
    font-family: "SF Compact Display Medium";
    animation: shake 13.5s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.hcard {
    transition: 880ms;
    opacity: .98;
}

.anim-els-in {
    opacity: 0;
}


.hcard2 {
    transition: 480ms;
}




/* #Sobre {
    position: relative;
    padding-top: 100px;

    font-size: 12px;
    max-width: 100%;
}

.texts-head {
    padding: 15px;
    margin: 5px;
    max-width: 700px;
    border-radius: 25px;
    color: #000000b0;
    background: linear-gradient(270deg, #b14b8f, #0586c2, #4098ca, #602a92);
    background-size: 800% 800%;
    -webkit-animation: GradTransition 30s ease infinite;
    -moz-animation: GradTransition 30s ease infinite;
    animation: GradTransition 30s ease infinite;
    box-shadow: 0 1px 50px;

}

@-webkit-keyframes GradTransition {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradTransition {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradTransition { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.beffore-sobre {
    padding: 3px;
    margin: 5px;
    max-width: 700px;

    border-radius: 25px;
    color: #000000b0;
    
    box-shadow: 0 1px 50px;

    background: linear-gradient(270deg, #4b90b1, #00c698, #4098ca, #d72482);
    background-size: 800% 800%;

    -webkit-animation: GradTransition 23s ease infinite;
    -moz-animation: GradTransition 23s ease infinite;
    animation: GradTransition 23s ease infinite;
}

.img-profile {
    margin: 5px 80px;
    width: 350px;
    border-radius: 20px;
    position: absolute;
    right: 0;
}

#text-img-sobre {
    text-align: center;
    margin: 17.3em 2.8em;
    position: absolute;
    right: 0;
    font-size: 21px;
    color: white;
    transition: 800ms;
    padding: 12px 5em;
    border: 2px solid;
    border-radius: 14px;
}

#text-img-sobre:hover {
    transform:scale(1.05, 1.05);
    box-shadow: 0 1px 30px rgba(255, 255, 255, 0.342);
    text-shadow: 0 1px 80px;
}


.hcard {
    transition: 880ms;
    opacity: .98;
    border-radius: 20px;
}

.hcard:hover {
    box-shadow: 0 -1px 100px;
    transform: scale( .98, .98);
}

.hcard2 { 
    transition: 480ms;
} */


.int-sobre {
    background-image: url(../img/mojave.jpg);
    width: 101%;
    background-position: -207.743px -221.2px;
    position: relative;
    background-repeat: no-repeat;
    opacity: 0;
    object-fit: cover;
    background-size: 115%;
    transition: all 1150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    perspective: center;
    top: 60px;
}

.int-top {
    width: 101%;
    height: 908px;
    background: linear-gradient(0deg, #13131300, #131313);
}

.int-bottom {
    width: 101%;
    height: 109px;
    background: linear-gradient(180deg, #13131300, #131313);
}

.wrapper-txt-int-sobre {
    margin: -658px 169px;
    position: absolute;
    color: black;
    text-align: left;
}

.anim-sobre-in {
    opacity: 0;
}

.wrapper-txt-int-sobre h2 {
    font-weight: 500;
}

.txt-s-link {
    position: relative;
    border-radius: 9px;
    font-family: sans-serif;
    font-size: 25px;
    color: #fff;
    font-weight: lighter;
    background: #000000bd;
    padding: 12px 16px;
    max-width: 540px;
    box-shadow: 0 1px 28px -5px black;
    margin: 105px 0;
}

.txt-s-link a {
    color: rgba(67, 231, 144, 0.876);
    animation: flash 6.7s infinite;
    padding-left: 11px;
    animation-timing-function: ease-in-out;
}

.dtxts-sec-sobre h1 {
    font-size: 3vw;
    font-weight: 700;
    margin: 12px 0;
}

.dtxts-sec-sobre p {
    font-size: 2vw;
    font-family: sans-serif;
    line-height: 54px;
}

.dtxts-sec-sobre {
    position: relative;
    left: -35px;
}




@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@-webkit-keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}



/************************/


.sec-ant-fts {
    will-change: auto;
    border: 7.5px solid #474747;
    display: none;
    background: linear-gradient(-30deg, #e45675, #db8d9e, #3383ce, #37aa70);
    background-size: 1880% 1880%;
    -webkit-animation: GradTransition 60s ease infinite;
    -moz-animation: GradTransition 60s ease infinite;
    animation: GradTransition 60s ease infinite;
    box-shadow: 0 1px 50px;
    width: 101%;
    height: 30.3vw;
    border-radius: 45px;
    position: relative;
    opacity: 0;
    text-align: center;
}

.content-txt-st-inf {
    width: 100%;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.texts {
    margin: 35px;
}

.wrapper-txts {
    padding: 15px;
}

.txt-title {
    margin: 10px 0;
    display: -webkit-box;
}

.txts-top {
    opacity: 0;
    display: -webkit-box;
}

.txt-title h1 {
    font-family: sans-serif;
    padding: 0 30px;
    color: #2e2e2e;
    font-size: 3vw;
    font-weight: 500;
}

.infos-prof {
    display: -webkit-box;
    margin: 50px 10px;
}

.els-sub-info {
    margin: 10px;
}

.txt-sub {
    margin: 15px 2px;
    display: flex;
    opacity: 0;
}

.txt-sub h2 {
    font-family: "SF Compact Display Thin";
    font-size: 1.3vw;
    font-weight: 100;
    color: #000000d2;
    padding: 0 15px;
}

.material-icons {
    color: #232323;
}

.fotos {}

.row {
    display: flex;
    flex-direction: row;
    padding: 27px 25px;
    position: absolute;
}

.elms {
    padding: 10px;
}

.row-imgs-info {
    display: flex;
    height: 48vh;
    position: absolute;
    right: 0;
    margin: 23px;

}

.img-prof-rig {
    width: 51vh;
    top: -69px;
    border-radius: 38px;
    opacity: 0;
    position: relative;
    box-shadow: 0 1.7px 20px -9px;
}

.img-beffore-rig {
    width: 94vw;
    filter: blur(15px) brightness(117%) opacity(60%);
    height: 52vh;
    z-index: -1;
    position: absolute;
    top: -90px;
    right: -22px;
    border-radius: 41px;
    opacity: 0;
}

.ic-forw {
    font-size: 2vw;
    background: rgb(71, 71, 71);
    /* border: 2px solid; */
    border-radius: 100%;
    padding: 9px;
    color: rgb(190, 190, 190);
    box-shadow: 0 1px 30px -10px rgb(43, 43, 43);
    transition: 500ms;
    animation: shake 13s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.ic-forw:hover {
    cursor: pointer;
    background: #1a1a1ad0;
    transform: scale(1.05, 1.05);
}

hr {
    border: 2px solid rgba(0, 0, 0, 0.411);
    margin: 20px 0;
}