#Sobre {
    position: relative;

    max-width: 100%;
}

.content  {
    width: 50%;
}

.texts-head {
    padding: 15px;
    margin: 5px;
    max-width: 1000px;
    border-radius: 25px;
    color: #000000b0;
    background: linear-gradient(270deg, #b14b8f, #0586c2, #4098ca, #602a92);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    box-shadow: 0 1px 50px;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.beffore-sobre {
    padding: 3px;
    margin: 5px;
    max-width: 1000px;

    border-radius: 25px;
    color: #000000b0;
    
    box-shadow: 0 1px 50px;

    background: linear-gradient(270deg, #4b90b1, #00c698, #4098ca, #d72482);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;
}
.img-profile {
    margin: 3px 80px;
    width: 28em;
    border-radius: 50px;
    position: absolute;
    right: 0;
}

#text-img-sobre {
    text-align: center;
    margin: 17.3em 2.8em;
    position: absolute;
    right: 0;
    font-size: 27px;
    color: white;
    transition: 800ms;
    padding: 12px 5em;
    border: 2px solid;
    border-radius: 14px;
}

#text-img-sobre:hover {
    transform:scale(1.05, 1.05);
    box-shadow: 0 1px 30px rgba(255, 255, 255, 0.342);
    text-shadow: 0 1px 80px;
}


.hcard {
    transition: 880ms;
    opacity: .98;
    border-radius: 20px;
}

.hcard:hover {
    box-shadow: 0 -1px 100px;
    transform: scale( .98, .98);
}

.hcard2 { 
    transition: 480ms;
    
}


@media screen and (max-width: 1260px) {
    .img-profile {
        margin: 20em 80px;
    }
}


@media screen and (max-width: 1890px) {

    #Sobre {
        position: relative;
        padding-top: 100px;
    
        font-size: 12px;
        max-width: 100%;
    }

    #text-img-sobre {
        text-align: center;
        margin: 17.3em 2.8em;
        position: absolute;
        right: 0;
        font-size: 21px;
        color: white;
        transition: 800ms;
        padding: 12px 5em;
        border: 2px solid;
        border-radius: 14px;
    }
   
    .img-profile {
        margin: 5px 80px;
        width: 350px;
        border-radius: 20px;
        position: absolute;
        right: 0;
    }

    .content  {
        width: 40%;
    }

}




/* #Sobre {
    position: relative;
    padding-top: 100px;

    font-size: 12px;
    max-width: 100%;
}

.texts-head {
    padding: 15px;
    margin: 5px;
    max-width: 700px;
    border-radius: 25px;
    color: #000000b0;
    background: linear-gradient(270deg, #b14b8f, #0586c2, #4098ca, #602a92);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    box-shadow: 0 1px 50px;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.beffore-sobre {
    padding: 3px;
    margin: 5px;
    max-width: 700px;

    border-radius: 25px;
    color: #000000b0;
    
    box-shadow: 0 1px 50px;

    background: linear-gradient(270deg, #4b90b1, #00c698, #4098ca, #d72482);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;
}

.img-profile {
    margin: 5px 80px;
    width: 350px;
    border-radius: 20px;
    position: absolute;
    right: 0;
}

#text-img-sobre {
    text-align: center;
    margin: 17.3em 2.8em;
    position: absolute;
    right: 0;
    font-size: 21px;
    color: white;
    transition: 800ms;
    padding: 12px 5em;
    border: 2px solid;
    border-radius: 14px;
}

#text-img-sobre:hover {
    transform:scale(1.05, 1.05);
    box-shadow: 0 1px 30px rgba(255, 255, 255, 0.342);
    text-shadow: 0 1px 80px;
}


.hcard {
    transition: 880ms;
    opacity: .98;
    border-radius: 20px;
}

.hcard:hover {
    box-shadow: 0 -1px 100px;
    transform: scale( .98, .98);
}

.hcard2 { 
    transition: 480ms;
} */


