#Sobre {
    position: relative;
    margin: 5em 3em;
    padding: 1 0em 31px;
    max-width: 100%;
}

.content  {
    width: 50%;
}


.texts-head {
    padding: 15px;
    margin: 5px;
    max-width: 1000px;
    border-radius: 25px;
    color: #000000b0;

    background: linear-gradient(50deg, #b14b8f, #0586c2, #4098ca, #602a92);
    background-size: 580% 580%;
    -webkit-animation: GradTransition 30s ease infinite;
    -moz-animation: GradTransition 30s ease infinite;
    animation: GradTransition 30s ease infinite;
    box-shadow: 0 1px 50px;
}

@-webkit-keyframes GradTransition {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradTransition {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradTransition { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.beffore-sobre {
    padding: 1px;   
    margin: 0;
    max-width: 1000px;

    
    border-radius: 30px;
    color: #000000b0;
    
    box-shadow: 0 1px 50px;

    background: linear-gradient(270deg, #530037, #00415f, #002b44, #602a92);

    background-size: 600% 600%;
    -webkit-animation: GradTransition 30s ease infinite;
    -moz-animation: GradTransition 30s ease infinite;
    animation: GradTransition 30s ease infinite;

    transition: 5000ms;
}

.img-profile {
    margin: 3px 80px;
    width: 28em;
    border-radius: 50px;
    position: absolute;
    right: 0;
}

#text-img-sobre {
    text-align: center;
    margin: 17.3em 2.8em;
    position: absolute;
    right: 0;
    font-size: 27px;
    color: white;
    transition: 800ms;
    padding: 12px 5em;
    border: 2px solid;
    border-radius: 14px;
}

#text-img-sobre:hover {
    transform:scale(1.05, 1.05);
    box-shadow: 0 1px 30px rgba(255, 255, 255, 0.342);
    text-shadow: 0 1px 80px;
}


.hcard {
    transition: 880ms;
    opacity: .98;
    border-radius: 20px;
}

.hcard:hover {
    box-shadow: 0 -1px 100px;
    transform: scale( .98, .98);
}

.hcard2 { 
    transition: 480ms;
    
}


@media screen and (max-width: 1260px) {
    .img-profile {
        margin: 20em 80px;
    }
}


@media screen and (max-width: 1890px) {

    #Sobre {
        position: relative;
        padding-top: 100px;
    
        font-size: 12px;
        max-width: 100%;
    }

    #text-img-sobre {
        text-align: center;
        margin: 17.3em 2.8em;
        position: absolute;
        right: 0;
        font-size: 21px;
        color: white;
        transition: 800ms;
        padding: 12px 5em;
        border: 2px solid;
        border-radius: 14px;
    }
   
    .img-profile {
        margin: 5px 60px;
        width: 350px;
        border-radius: 20px;
        position: absolute;
        right: 0;
    }

    .content  {
        width: 60%;
    }

    .div-texts-resp {
        max-width: 700px;
    }

}

@media screen and (max-width: 1200px) {
    .img-profile {
       display: none;
    }

    #text-img-sobre {
        display: none;
    }
}




/* #Sobre {
    position: relative;
    padding-top: 100px;

    font-size: 12px;
    max-width: 100%;
}

.texts-head {
    padding: 15px;
    margin: 5px;
    max-width: 700px;
    border-radius: 25px;
    color: #000000b0;
    background: linear-gradient(270deg, #b14b8f, #0586c2, #4098ca, #602a92);
    background-size: 800% 800%;
    -webkit-animation: GradTransition 30s ease infinite;
    -moz-animation: GradTransition 30s ease infinite;
    animation: GradTransition 30s ease infinite;
    box-shadow: 0 1px 50px;

}

@-webkit-keyframes GradTransition {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradTransition {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradTransition { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.beffore-sobre {
    padding: 3px;
    margin: 5px;
    max-width: 700px;

    border-radius: 25px;
    color: #000000b0;
    
    box-shadow: 0 1px 50px;

    background: linear-gradient(270deg, #4b90b1, #00c698, #4098ca, #d72482);
    background-size: 800% 800%;

    -webkit-animation: GradTransition 23s ease infinite;
    -moz-animation: GradTransition 23s ease infinite;
    animation: GradTransition 23s ease infinite;
}

.img-profile {
    margin: 5px 80px;
    width: 350px;
    border-radius: 20px;
    position: absolute;
    right: 0;
}

#text-img-sobre {
    text-align: center;
    margin: 17.3em 2.8em;
    position: absolute;
    right: 0;
    font-size: 21px;
    color: white;
    transition: 800ms;
    padding: 12px 5em;
    border: 2px solid;
    border-radius: 14px;
}

#text-img-sobre:hover {
    transform:scale(1.05, 1.05);
    box-shadow: 0 1px 30px rgba(255, 255, 255, 0.342);
    text-shadow: 0 1px 80px;
}


.hcard {
    transition: 880ms;
    opacity: .98;
    border-radius: 20px;
}

.hcard:hover {
    box-shadow: 0 -1px 100px;
    transform: scale( .98, .98);
}

.hcard2 { 
    transition: 480ms;
} */


.int-sobre {
    background-image: url(../img/mojave.jpg);
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    opacity: .9;
    object-fit: cover;
    background-size: 113%;
    padding-top: -200px;
}

.int-top {
    width: 100%;
    height: 908px;
    background: linear-gradient(0deg, #13131300, #131313);

}

.int-bottom{
     width: 100%;
    height: 109px;
    background: linear-gradient(180deg, #13131300, #131313);
}

.wrapper-txt-int-sobre {
    margin: -548px 169px;
    position: absolute;
    color: white;
    font-size: 22px;
}

.wrapper-txt-int-sobre h2 {
    font-weight: 100;
}



.txt-s {
    font-size: 30px;
    font-weight: 100;
    color: #e5e5e5b8;
    max-width: 70%; 

    padding: 10px 0;
}

.txt-si {
    font-size: 35px;
    font-weight: 100;
    margin: 20px 0;
    max-width: 70%; 
}

.txt-s-link {
    border-radius: 9px;
    font-family: sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: lighter;
    background: #000000bd;
    padding: 12px 16px;
    max-width: 50%;
    box-shadow: 0 1px 28px -5px black;
    margin: 105px 0;
}

.txt-s-link a {
    color: rgba(67, 231, 144, 0.876);
  

    animation: flash 6.7s infinite;

    padding-left: 11px;
    animation-timing-function: ease-in-out;
} 




@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
